{% extends 'base.html' %}

{% block content %} 
    <section class="bg-light text-dark text-center shadow mb-20">
        <div class="container p-5 bg-light">
            <div class="row">
                <div class="d-md-flex bg-light align-items-center justify-content-evenly">
                    <h1 class="col text-center">{{ current_user.email}}'s user profile</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="text-center">
    <div class="container p-10">
        <div class="row"><br>
            <h3 class="p-5">Here are your profile details</h3>
            <ul class="list-group">
                <li class="list-group-item">Email: {{ current_user.email }}</li>
                <li class="list-group-item">Token: {{ current_user.token }} </li> 
            </ul>
        </div>
        <div class="container p-5"></div>
            <div class="row">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="../../static/images/froot_loop.jpg" class="img-fluid p-5" alt="froot loop" id="index_img"><br>
                    <div class="center text-lg" id="intro-text">Froot Loop</div>
                </div>
            <div class="col-3"></div>
        </div>
    </div>
    </section>
{% endblock %}