<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<script src="https://kit.fontawesome.com/48cfc9194a.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
<link rel="stylesheet" href="../static/main.css">
<title>Cam Fam</title>
</head>
<body>
    <!-- Navbar -->
    
    <nav class="navbar navbar-expand-lg navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="{{ url_for('site.home') }}" class="navbar-brand">My Cam Fam</a>
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navmenu"
            ><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{{ url_for('site.home') }}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('site.profile') }}" class="nav-link">Profile</a>
                    </li>
                    <!-- If Statement Begin -->
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a href="{{ url_for('auth.signin') }}" class="nav-link">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('auth.signup') }}" class="nav-link">Sign Up</a></button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% block content %}
{% endblock %}
<!-- Footer -->
<footer>
    <div class="bottom">
        <div class="footinfo">
            <div class="foothead">Contact Us</div>
            <div class="location">
                <p class="tiny"><i class="fa-solid fa-map-location"></i> Madascar, CA 14652</p>
            </div>
            <div class="email">
                <p class="tiny"><i class="fa-solid fa-envelope"></i>Email: my_cam_fam@chameleons.com</p>
            </div>
            <div class="phone">
                <p class="tiny"><i class="fa-solid fa-phone-volume"></i> Call us: 555-555-5555</p>
            </div>
        </div>
        <div class="about">
            <div class="foothead">About</div>
            <div class="contact">
                <a href="{{ url_for('site.redirect') }}" target="_blank" class="nav-link"><p class="tiny">Our Mission</p></a>
            </div>
            <div class="contact">
                <a href="{{ url_for('site.redirect') }}" target="_blank" class="nav-link"><p class="tiny">Our Affiliates</p></a>
            </div>
            <div class="contact">
                <a href="{{ url_for('site.redirect') }}" target="_blank" class="nav-link"><p class="tiny">Careers</p></a>
            </div>
            <div class="contact">
                <a href="{{ url_for('site.redirect') }}" target="_blank" class="nav-link"><p class="tiny">Press</p></a>
            </div>
        </div>
            <div class="socials">
                <div class="foothead">Socials</div>
                <div class="media">
                    <a href="{{ 'https://www.instagram.com/' }}" target="_blank" class="nav-link"><p class="tiny"><i class="fa-brands fa-instagram"></i> Instagram</p></a>
                </div>
                <div class="media">
                    <a href="{{ 'https://www.tiktok.com/en/' }}" target="_blank" class="nav-link"><p class="tiny"><i class="fa-brands fa-tiktok"></i> TikTok</p></a>
                </div>
                <div class="media">
                    <a href="{{ 'https://www.facebook.com/' }}" target="_blank" class="nav-link"><p class="tiny"><i class="fa-brands fa-facebook"></i> Facebook</p></a>
                </div>
                <div class="media">
                    <a href="{{ 'https://twitter.com/Flightfox' }}" target="_blank" class="nav-link"><p class="tiny"><i class="fa-brands fa-twitter"></i> Twitter</p></a>
                </div>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.min.js"></script>
</body>
</html>